/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */
body {
  background-image: linear-gradient(
    to,
    #96bfd7,
    #96bfd7,
    #96bfd7,
    #a4c9de,
    #a4c9de,
    #a4c9de,
    #a4c9de
  );
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  background-image: linear-gradient(
    to right,
    #96bfd7,
    #96bfd7,
    #96bfd7,
    #a4c9de,
    #a4c9de,
    #a4c9de,
    #a4c9de
  );
}

.h1h {
  /* border: 5px solid #ffff00; */
  background-color: #b7d6e8;
  text-align: center;
  font-size: 15px;
  margin: auto;
  height: 69px;
  width: 100%;
  color: white;
}
.Details {
  /* border: 5px solid #97c0d7; */
  font-size: 30px;
  margin: auto;
  /* border: 3px; */
  padding: 10px;
  width: 500px;
  height: 500px;

  background-image: linear-gradient(
    to right,
    #97c0d7,
    #93bdd5,
    #9dc4db,
    #a9cde1,
    #93bdd5,
    #9dc4db,
    #a9cde1,
    #a4c9de
  );
}

.label_first_name {
  /* font-size: 30px; */
  color: #fdfefe;
}

.input_first_name {
  border-radius: 7.2px;
  border: none;
  height: 35px;
  width: 490px;
}

/* .div_last_name { דוגמא
  margin: auto;
  width: 60%;
  border: 3px solid #73ad21;
  padding: 10px;
} */
.label_last_name {
  color: white;
  /* font-size: 20px; */
}
.input_last_name {
  border-radius: 7.2px;
  border: none;
  height: 35px;
  width: 490px;
}

.label_Email {
  /* font-size: 20px; */

  color: white;
}
.input_Email {
  border-radius: 7.2px;
  border: none;
  height: 35px;
  width: 490px;
}

.label_password {
  /* font-size: 20px; */

  color: white;
}
.input_password {
  border-radius: 7.2px;
  border: none;
  height: 35px;
  width: 490px;
  color: white;
}

.label_Repeat_Password {
  color: #fdfefe;
}

.input_Repeat_Password {
  border-radius: 7.2px;
  border: none;
  height: 35px;
  width: 490px;
}

.button_reset {
  margin: 10px;
  border: none;
  background-color: #6db7d5;
  border-radius: 10px;
  color: white;

  float: right;
}
.button_reset {
  width: 130px;
  height: 50px;
  font-size: 29px;
}

.button_reset:hover {
  /*  הפקודה ששולט על שינוי הכפתור בעת שהסמן עליו */
  background-color: #eef1ff;
  color: #0f5f8d;
  cursor: pointer;
}
.button_reset:active {
  background-color: #eef1ff;
  color: #0f5f8d;
  cursor: pointer;
  border: 2px solid #a5f1e9;
}

/* -------------------------------------------------- */
.button_registr {
  margin: 10px;
  border: none;
  background-color: #3192bb;
  border-radius: 10px;
  color: white;
  float: right;
}

.button_registr:hover {
  background-color: #9fc5db;
  color: #0f5f8d;
  cursor: pointer;
}

.button_registr:active {
  background-color: #9fc5db;
  color: #0f5f8d;
  cursor: pointer;
  border: 2px solid #000;
}
.button_registr {
  width: 130px;
  height: 50px;
  font-size: 29px;
}

/* ------------------------------------------------------------------- */
.input_Repeat_Password:hover {
  background-color: #23bf2e;
  color: #eef1f3;
  cursor: pointer;
}

.input_Repeat_Password:active {
  background-color: #9fc5db;
  color: #d72727;
  cursor: pointer;
  border: 2px solid rgba(246, 59, 12, 0.759);
}
